<a [routerLink]="['/home']">Back</a>
<h2>Add New</h2>
<form [formGroup]="empform" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="empcode">EmpCode</label>
        <input type="text" formControlName="empcode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.empcode.errors }" />
        <div *ngIf="submitted && f.empcode.errors" class="invalid-feedback">
            <div *ngIf="f.empcode.errors.required">EmpCode is required</div>
        </div>
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <input type="text" formControlName="position" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.position.errors }" />
      <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
          <div *ngIf="f.position.errors.required">Position is required</div>
      </div>
  </div>
  <div class="form-group">
    <label for="office">Office</label>
    <input type="text" formControlName="office" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.office.errors }" />
    <div *ngIf="submitted && f.office.errors" class="invalid-feedback">
        <div *ngIf="f.office.errors.required">Office is required</div>
    </div>
  </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Submit</button>
        <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
    </div>
</form>