<a (click)="remove()" [routerLink]="['/home']">Back</a>
<h2>User Profile</h2>
<p></p>
<input 
  style="display: none" 
  type="file" (change)="onFileChanged($event)" 
  #fileInput>
<img  (click)="fileInput.click()" src = "{{ImagePath}}" style="width:50px;height:50px;cursor:pointer"/>
<form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input formControlName="Id" type="hidden">
    </div>
    <div class="form-group">
        <label for="UserName">UserName</label>
        <input disabled  type="text" formControlName="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input   type="text" formControlName="Password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.Password.errors }"/>
        <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
            <div *ngIf="f.Password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" formControlName="FirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
        <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
            <div *ngIf="f.FirstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" formControlName="LastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
        <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
            <div *ngIf="f.LastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Update</button>
        <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
    </div>
</form>